[submodule "third-party/godot-cpp"]
	path = third-party/godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.2
[submodule "third-party/vcore"]
	path = third-party/vcore
	url = https://github.com/VOptimizer/VCore.git
	branch = performance